@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }

html {
    height: 100%;
    background: linear-gradient(to top, #D4D3DD, #d6b3e6);
}

body {
   padding-bottom:60px;
   font-family: 'Rajdhani', sans-serif;
}

main {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 8%;    
}

#btn {
    background: #35d8a7;
    background-image: -webkit-linear-gradient(top, #35d8a7, #2980b9);
    background-image: -moz-linear-gradient(top, #35d8a7, #2980b9);
    background-image: -ms-linear-gradient(top, #35d8a7, #2980b9);
    background-image: -o-linear-gradient(top, #35d8a7, #2980b9);
    background-image: linear-gradient(to bottom, #35d8a7, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: inherit;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}


#output{
    width: 300px;
    margin: auto;
    display: block;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#output > p {
    font-size: 2em;
    margin: 15px;
}

#output > .year {
    font-size: 1em;
}

/* footer */
footer {
    background: #0d253f;
    position: absolute; 
    display: flex;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between; 
    color:  #0d253f;
    background: linear-gradient(to top, #0d253f, transparent);
}

#logo > img {
    width: auto;  
}
#logo > p {
    margin-bottom: 5px;
}
#platlab{
    margin: 10px;
}
#platlab > p > a{
    color:  #0d253f
}
/* end footer */